<footer class="bg-info">

    <header class="footer_header">
        <h4 class="first_header">
            About Us
        </h4>
        <h4>
            Support
        </h4>
        <h4 class="app_header">
            Our Apps

        </h4>
        <h4>
            Resources
        </h4>
        <h4>
            HotLinks
        </h4>
    </header>
    <section class="footer_content">


        <div class="About_us">

            <a>
       About Agro-market
        </a>
            <a>
We are hiring
        </a>
            <a>
Our terms $ conditions
        </a>
            <a>
privacy and policy
        </a>
            <a>
            Billing policy
        </a>
        </div>

        <div class="support">



            <a>
            support@Agro-market.ug
        </a>
            <a>
            Safety Tips
        </a>
            <a>
            Contact Us
        </a>
            <a>
            FAQ
        </a>
        </div>

        <div class="our_apps">

            <a>
            playstore
        </a>
            <a>
      Appstore
        </a>

        </div>

        <div class="resources">

            <a>
            Agro-market on FB
        </a>
            <a>
            Our Instagram 
        </a>
            <a>
            Our Youtube
        </a>
            <a>
            Our Twitter
        </a>
        </div>
        <div class="hot_links">

            <a>
            Brand 
        </a>
            <a>
            Agro-market Sellers
        </a>
            <a> Regions
        </a>

        </div>

    </section>
    <div class="copy_right"><span>
        @2020 Agromarket.org
        </span>
    </div>
</footer>